html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

p {
	font-size: 16px;
}

.odstavec {
	font-weight: bold;
}

.cerveneTlacitko {
	color: red;
}

.vetsiTlacitko {
	font-size: ++! 1px;
}
